* {
    padding: 0;
    margin: 0;
}

.landing-section {
    width: 100%;
    height: 700px;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(coffee-img3.jpg);
    background-size: cover;
    color: #fff;
}

.inside-container {
    width: 90%;
    margin: 0 auto;
}

.logo{
    color: #fff;
}

.menu {
    display: flex;
    width: 55%;
    justify-content: space-around;
}

.menu li {
    list-style-type: none;
    text-transform: uppercase;
}
.menu-wrapper {
    display: flex;
    justify-content: space-between;
    height: 85px;
    align-items: center;
}

.landing-content-wrapper {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    margin-top: 10em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 230px;
}

.landing-content-wrapper .title {
    text-transform: uppercase;
    font-size: 2.3em;
}

.landing-content-wrapper .content {
    font-weight: 100;
}

.landing-content-wrapper .btn {
    padding: 10px 12px;
    border: 0;
    background: rgb(1, 212, 231);
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
}

.purchase-icon {
    width:20px;
}


.fuatures-section{
    width: 100%;
    height: 700px;
    margin: 0 auto;
    
}

.head-line{
    text-align: center;
    width: 60%;
    height: 200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #b7b6b6;

}

h2{
    color: black;
}

.grid-box1{
    width: 90%;
    height: 500px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    
}

.grid{
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: solid rgb(205, 204, 204) 1.5px;
    text-align: center;
    padding: 10px;
    color: #b7b6b6;
}

h3{
    color: black;
}

.promo-section{
    width: 100%;
    height: 1000px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 70px;
    

}

.grid-box2{
    width:50%;
    height: 500px;
}

.grid-box3{
    width:50%;
    height:500px;
    justify-content: end;
    
}

.b1{
    width: 100%;
    height: 125px;
    background-color: rgb(4, 192, 210);
    display: flex;

}

.img{
    width:15%;
    height: 40px;
    padding: 2%;
}

.paragraph{
    width: 85%;
    height: 40px;
    color: #fff;
    padding:2%;
   
}

h3{
    color: #fff;
}

.team-section{
    width: 90%;
    height: 600px;
    margin:0 auto;
  
}

.head-line1{
    text-align: center;
    width: 60%;
    height: 200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #b7b6b6;
}

.team-img{
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: space-between;
}

.team{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    width: 23%;
    height: 350px;
    
}

.social-medias{
    display: flex;
    height: 50px;
    margin: 0 auto;
}

#ceo{
    background-image: url(web\ model\ 11-02.jpg);
    background-size: cover;
}

#co-founder{
    background-image: url(web\ model\ 11-03.jpg);
    background-size: cover;
}

#web-designer{
    background-image: url(web\ model\ 11-04.jpg);
    background-size: cover;
}

#marketer{
    background-image: url(web\ model\ 11-05.jpg);
    background-size: cover;
}

.team-name-section{
    width: 90%;
    height: 200px;
    margin: 0 auto;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
}

.m{
    width: 23%;
    height: 110px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: gray;
}

span{
    color: rgb(4, 192, 210);
}

.h3{
    color: black;
}

.feed-back{
    width: 100%;
    height: 250px;
    background-color: rgb(17, 198, 215);
    justify-content: space-evenly;
    display: flex;
    align-items: center;
}

.final{
    width: 23%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    text-align: center;
    color: white;
}

.final-h1{
    font-size: 50px;
    padding-top: 20px;
    padding-bottom: 7px;
}

.final-span{
    color: white;
    font-size: 15px;
}

